* {
    scrollbar-color: #CFD3E4 white;
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 8px; /* ширина scrollbar */
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: #CFD3E4;
    border-radius: 20px; /* закругления плашки */
}

.content {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 9fr;
    grid-template-columns: 2fr 8fr;
    grid-template-areas:"l a"
                        "c s";
    padding: 10px;
}

.content > div {
    border: 1px solid black;
}

.logo {
    grid-area: l;
}

.clients {
    grid-area: c;
}

.action {
    grid-area: a;
}

.show {
    grid-area: s;
}